PORT=3001

# Credenciales de la base de datos (obtener desde Supabase → Settings → Database → Session Pooler)
DB_HOST=aws-0-[REGION].pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.[PROJECT-REF]
DB_PASSWORD=[TU-PASSWORD]


JWT_SECRET=[un-secreto]
TENANT_ID=your-tenant-uuid-here

NODE_ENV=development